* {
    padding:0;
    margin:0;
}

body {
    
    background-image: url('../img/fond.svg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-container, #page2-container {
    
    display: flex;
    flex-direction: column;
    position: fixed;
    top:5vh;
    left:10vw;
}

#depart-list, #arrival-list {

    
    width:33vw;
    height:5vh;
    border:none;
    background-color:transparent;
    border-bottom:2px solid #CF2A4A;
    appearance: none;   
}

#logo {
    margin-bottom:5vh;
    width: 25vw;
    height:auto;
    margin-right:auto;
    margin-left:auto;
}

.hidden {
    display: none !important;
}

#date
{
    display: flex;
    margin-bottom:5vh;

}

.input
{
    width:15vw;
    height:5vh;
    border:none;
    background-color:transparent;
    border-bottom:2px solid #CF2A4A;
    appearance: none;
    margin-left: 2vw;
}

.calendar
{
    width: 2vw;
    margin-top: 1vh;
}

.calendarRetour
{
    width: 2vw;


}

#tourist
{
    width: 2vw;

}

 #avion1, #avion2{
    width: 3vw;
    height: 3vw;
    margin-right:2vw;
}

#input1 ,#input2{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

#input-adulte, #input-enfant {
    width:8vw;
}

#search-button, #valid-button {
    margin-top:10vh;
    width:25vw;
    height:8vh;
    margin-left:auto;
    margin-right:auto;
    border:none;
    background-color:white;
    color:#CF2A4A;
    font-size:4vh;
}

.inputNameAdult, .inputFirstNameAdult {
    width:10vw;
}

.inputFirstNameAdult {
    margin-right:2vw;
}

.inputEnfantName, .inputFirstName {
    width: 10vw;
}

.inputEnfantAge {
    width:7vw;
}


h3 {
    color:#CF2A4A;
    text-align:center;   
    font-size:4vh; 
}

#adult {
    margin-top: 5vh;
    margin-bottom:5vh;
}


